body{
    font-family: "Snell Roundhand", cursive, "Comic Sans MS", cursive, sans-serif;
}

header
{
    background-color:#FFF1ED ;
}

/* Barra de navegación*/
nav
{
    background-color: #374B73;    
}
.nav-link
{
    color: #FFF1ED;  
     
}
.nav-link, a:visited
{
     color: #FFF1ED;  
     
}


/* Niveles del texto*/
h1{
    color: #374B73;
}
h2{
    color: #374B73;
    text-align: center;
}

p
{
    text-align: justify;
}

/* Footer*/
footer{
    background-color: #374B73 ;
}