body{
    font-family: "Snell Roundhand", cursive, "Comic Sans MS", cursive, sans-serif;
    background-color: #a9c0f133;
}

header
{
    background-color:#FFF1ED ;
}

/* Barra de navegación*/
nav
{
    background-color: #374B73;    
}
a, .nav-link
{
    color: #FFF1ED;  
     
}
.nav-link, a:visited
{
     color: #FFF1ED;  
     
}
.nav-link, a:hover
{
     color: #d4bbb3;  
     
}

/*  Cards */

.card-title
{
    text-align: center;
}
.card-img-top
{
    justify-content:center;
}

.card-body
{
    background-color:  #ffffff49;;
}

/* Niveles del texto*/
h1{
    color: #374B73;
}
h2{
    color: #374B73;
    text-align: center;
    background-color: #FFF1ED;
}

p
{
    text-align: justify;
}

/* Footer*/
footer{
    background-color: #374B73 ;
    
}